<mat-tab-group>
  <mat-tab label="Live Stream"> 
	<div class="d-flex justify-content-center">
   <video id="App-Video" #droneVideo class="video-js vjs-default-skin" controls playsinline width="800" height="500">
      <source [src]="droneLiveUrl" type="application/x-mpegurl"/>
      <p class="vjs-no-js">
         To view this video please enable JavaScript, and consider upgrading to a web browser that
         <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
   </video>
</div>
 </mat-tab>
  <mat-tab label="Live Object Detection"> Live Object Detection</mat-tab>
</mat-tab-group>