@import "~bootstrap/scss/bootstrap.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
  font-size: 62.5%;

  body {
    height: 100%;
  }

  .btn {
    height: 36px;
    font-size: 1.4rem;
  }
  .mat-tab-body-content{
    margin-top: 3rem;
  }
}